<a href="https://colab.research.google.com/github/khalinvidamo1-1/CPEN-21A---BSCPE-1-1/blob/main/Demo1_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Phyton Programming

In [ ]:
b = ' Sally'
c = " Khalin Rose A Vidamo"
d = " BSCpe 1-1 "
e = " Cavite State University "
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

# Naming Variables

In [ ]:
a = ' Sally '
A = ' John '
c = " Khalin"
C = " Rose "
e = ' A '
E = ' Vidamo'
print (a)
print (A)
print (c)
print (C)
print (e)
print (E)

 Sally
 John
 Khalin
 Rose
 A
 Vidamo

In [ ]:
a, b, c = 0, 1, 2
d, e, f = 3, 4, 5
print (type(a))       #This is a program using type function
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
a = float (4)
b = float (10)
c = float (14)
d = float (22)
e = float (100)
print(a)
print(b)
print(c)
print(d)
print(e)

4.0
10.0
14.0
22.0
100.0

In [ ]:
a = 4.50
b = 8.50
c = 12.50
d = 555.5
e = 115.25
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

# One Value to Multiple Variables

In [ ]:
x = y = z= 'four'
a = b = c= 'eight'
h = i = j= 'twenty'
print(x)
print(y)
print(z)
print(a)
print(b)
print(c)
print(h)
print(i)
print(j)

four
four
four
eight
eight
eight
twenty
twenty
twenty

In [ ]:
x = ' enjoying '
y = ' love '
z= ' subject '
a = ' CAVITE STATE UNIVERSITY '
print('Phyton programming is' + x)
print('I'+ y +'programming')
print('Programming is my favorite' +  z)
print('Khalin Vidamo is studying at' + a)

Phyton programming is enjoying
I love programming
Programming is my favorite subject
Khalin Vidamo is studying at CAVITE STATE UNIVERSITY

In [ ]:
a = 5
b = 10
h = 5
i = 5
q = 2
t = 8
x = 4
y = 5
print(a-b)
print(h*i)
print(q/t)
print(x+5)

-5
25
0.25
9

In [ ]:
x<y and x==x

True

In [ ]:
x>y or x==x

True

In [ ]:
not(x>y or x==x)

False