<a href="https://colab.research.google.com/github/khalinvidamo1-1/CPEN-21A---BSCPE-1-1/blob/main/LOOP_STATEMENT_IPYNB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##FOR LOOP STATEMENT

In [6]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

THE BREAK STATEMENT

In [7]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  print(x)
  if x=='Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [14]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
for x in week:
  print(x)
  if x=="Thursday":
    break
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday

LOOPING THROUGH A STRING

In [15]:
for x in "week":
  print(x)

w
e
e
k

THE RANGE FUNCTION

In [18]:
for x in range(6):
  print("Example 1",x)
for x in range(2,6):
  print("Example 2",x)

Example 1 0
Example 1 1
Example 1 2
Example 1 3
Example 1 4
Example 1 5
Example 2 2
Example 2 3
Example 2 4
Example 2 5

NESTED LOOPS

In [19]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##WHILE LOOPS STATEMENT

In [20]:
i = 1
while i<6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

THE BREAK STATEMENT

In [34]:
i = 1
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  else:
    print(i)

2
4
5
6

In [35]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1
Create a Phyton Program that displays:
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10 (in vertical display)

In [40]:
Hello = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9","Hello 10"]
for x in Hello:
   print(x)

i = 0
while i<=10:
  print("Hello",i)
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10